# Dependencies
node_modules
.pnpm-store/

# Build output
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# VitePress
**/.vitepress/cache/
**/.vitepress/dist/

# TypeScript
*.tsbuildinfo
.ts-cache/
.vue-tsc/

# Environment
.env
.env.*
!.env.example

# Build artifacts
.temp
.tmp
.cache
types/auto-imports.d.ts
types/components.d.ts

# Development
.changeset/*
!.changeset/config.json